{% extends "ImbuzzitAdminBundle::layout.html.twig" %}

{% block body %}
<div style="clear: both;">
  <h1 style="float: left;">User creation</h1>
  <a href="{{ path('admin_user') }}" class="btn" style="float: right;">Back to the list</a>
</div>
<div style="clear: both;"></div>
<hr class="bs-docs-separator">
<form action="{{ path('admin_user_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <hr class="bs-docs-separator">
    <p>
      <button type="submit" class="btn btn-success">Create</button>
    </p>
</form>
{% endblock %}